<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	name="Debug Bar Pretty Output"
	xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">

	<description>The code standard for Debug Bar Pretty Output is WordPress.</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<file>.</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="ps"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>


	<!--
	#############################################################################
	SET THE RULES
	#############################################################################
	-->

	<config name="testVersion" value="5.2-"/>
	<rule ref="PHPCompatibility"/>

	<rule ref="WordPress">
		<!-- No need to lint the PHP, this is done in a separate task in the travis script. -->
		<exclude name="Generic.PHP.Syntax"/>
	</rule>


	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!-- Set minimum supported WP version for all sniffs which use it. -->
	<config name="minimum_supported_wp_version" value="3.4"/>

	<!-- Add `PHP_Classes` to the whitelist for non-snakecase variable names. -->
	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="PHP_classes"/>
			</property>
		</properties>
	</rule>

	<!-- Verify that the text_domain is set to the desired text-domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="db-pretty-output"/>
			</property>
		</properties>
	</rule>

	<!-- Verify that everything in the global namespace is prefixed with a specific prefix. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Debug_Bar"/>
				<element value="db_pretty_output"/>
			</property>
		</properties>
	</rule>


	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
	#############################################################################
	-->

	<!-- Exclude the PHP Core classes list from some documentation checks. -->
	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
		<exclude-pattern>class-debug-bar-list-php-classes.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.BlockComment.NoNewLine">
		<exclude-pattern>class-debug-bar-list-php-classes.php</exclude-pattern>
	</rule>

	<!-- Exclude the 'empty' index files from some documentation checks -->
	<rule ref="Squiz.Commenting.FileComment.WrongStyle">
		<exclude-pattern>*/index.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.InlineComment.SpacingAfter">
		<exclude-pattern>*/index.php</exclude-pattern>
	</rule>

</ruleset>
